/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

/* Contenedor principal */
.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

/* Estilo para el campo de entrada y el botón */
input {
    padding: 10px;
    width: 80%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #9b59b6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #8e44ad;
}

/* Información del Pokémon */
.pokemon-info {
    margin-top: 20px;
    display: none;
}

img {
    width: 100px;
}

/* Lista de Pokémon buscados */
h3 {
    margin-top: 30px;
    font-size: 18px;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    color: #555;
    text-align: left;
    transition: background-color 0.3s;
}

/* Colores alternativos para los elementos de la lista */
ul li:nth-child(odd) {
    background-color: #e1f5fe; /* Color para los elementos impares */
}

ul li:nth-child(even) {
    background-color: #ffe0b2; /* Color para los elementos pares */
}

/* Hover para los elementos de la lista */
ul li:hover {
    background-color: #b2ebf2; /* Color al pasar el mouse */
}
